nav {
  position: sticky;
  top: 0px;

}

ul {
  text-align: center;
  background-color: aqua;
}


li {
  display: inline;  
}

p {
  font-size: 80px;
}
#colonna1 {
  width: 33%;
  display: inline-block;
}

#colonna2 {
  width: 33%;
  display: inline-block;
}

#colonna3 {
  width: 33%;
  display: inline-block;
}

.div2 {
  position: absolute;
  right: 20px;
}