.flexbox {
  display: flex;
  background-color: brown;
  justify-content: center;
  height: 600px;
  div{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    margin: 50px;
    border-style: solid;
  }
  .uno {
    flex-shrink: 5;
  }
  .due {
    flex-grow: 1;
  }
  .tre {
    flex-grow: 1;
  }
}

