nav {
  position: sticky;
  top: 0px;

}

ul {
  text-align: center;
  background-color: aqua;
}


li {
  display: inline;  
}

p {
  font-size: 70px;
}
#colonna1 {
  width: 33%;
  display: inline-block;
}

#colonna2 {
  width: 33%;
  display: inline-block;
}

#colonna3 {
  width: 33%;
  display: inline-block;
}

footer {
  background-color: blueviolet;
  position: fixed;
  bottom: 10px;
  width: 100%;
}