@mixin light {
  background-color: rgb(94, 163, 223);
  color: black;
  a:hover {
    color: orange;
  }
}

@mixin dark {
  background-color: #000000;
  color: white;
  a:hover {
    color: yellow;
  }
}

body {
  .light {
    @include light;
  }

  .dark {
    @include dark;
  }
  background-color: grey;
  h1 {
    color: orange;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    display: flex;

    .menu-item {
      padding: 30px;

      a {
        font-size: 18px;
        border: solid;
        border-radius: 10px;
        padding: 4px;
      }
    }
  }
}
