body {
    background-color: rgba(0, 0, 0, 0.464);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: chocolate;

    .menu {
        display: flex;

        .menu-item {
            padding: 30px;
            background-color: brown;

            :hover {
                background-color: #ff0000;
            }

            button {
                font-size: 18px;
            }
        }
    }
}