* {
    font-size: 30px;
}
h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

h4 {
    color: yellow;
}

h5 {
    color: purple;
}

h6 {
    color: orange;
}

#blallo {
    background-color: green;
}

.format-test {
    font-size: 30px;
}

.colorato {
    color: chocolate;
}

.grande {
    font-size: 50px;
}

.font {
    font-family: fantasy;
}

.destra {
    text-align: right;
}